<%= form_with(model: [post_bungu, post_comment] ) do |f| %>
  <div>
    <%= f.text_area :content, size: "30x5", placeholder: "コメントはこちら !", class: "comment-text-area" %>
  </div>
  <div class="comment-action">
    <%= f.submit "送信" %>
  </div>
<% end %>