<% post_comments.each do |post_comment| %>
  <% unless post_comment.id.nil? %>
    <p><%= link_to "#{post_comment.user.nickname}さん", user_path(post_comment.user.id) %></p>
    <p>コメント：<%= post_comment.content %></p>
    <% if post_comment.user == current_user %>
      <p><%= link_to 'コメントを削除する', post_bungu_post_comment_path(post_comment.post_bungu_id, post_comment.id), method: :delete, remote: true %></p>
    <% end %>
  <% end %>
<% end %>