<% if @scope == "User" %>
  <%= render 'users/userlist', users: @users %>
<% else %>
  <div class="index-post-bungus">
    <%= render 'post_bungus/content', post_bungus: @post_bungus %>
  </div>
<% end %>