<div class="profile-container">

  <div class="subject-box">
    <p class="subject-name">お気に入り</p>
  </div>
  <div class="my-post-all">
    <div class="switch-btn">
      <% if @user == current_user %>
        <%= link_to user_path(current_user) do %>
          <p class="switch-color">自分の投稿一覧へ →</p>
        <% end %>
      <% end %>
    </div>

    <div class="index-post-bungus">

      <%= render 'post_bungus/content', post_bungus: @post_bungus %>
    </div>

  </div>
</div>