<% if current_user.following?(user) %>
  <div class="follow-btn tomato-btn">
    <%= link_to unfollow_path(user), method: :delete, remote: true do %>
      <p>- フォローをやめる</p>
    <% end %>
  </div>
<% else %>
  <div class="follow-btn">
    <%= link_to follow_path(user), method: :post, remote: true do %>
      <p>+ フォローする</p>
    <% end %>
  </div>
<% end %>