<% if current_user.following?(user) %>
  <div class="follow-btn">
    <%= link_to '- フォローをやめる', unfollow_path(user), method: :delete, class: 'btn btn-info', remote: true %>
  </div>
<% else %>
  <div class="follow-btn">
    <%= link_to '+ フォローする', follow_path(user), method: :post, class: 'btn btn-default', remote: true %>
  </div>
<% end %>