<div class="profile-container">
  <%= render 'profile', post_bungus: @post_bungus, user: @user %>
  <div class="my-post-all">
    <div class="index-post-bungus">
      <%= render 'post_bungus/content', post_bungus: @post_bungus %>
    </div>
  </div>
</div>