<div class="top-title">
  <h4>「文房具と一緒」で、<br>新たな文房具と出逢おう</h4>
</div>

<div class="bungu-expand">
  <div class="about-photo">
    <%= image_tag 'thought-photo.png' %>
  </div>
  <div class="about-comment-box">
    <div class="comment-topic">文房具を広げる</div>
    <p>会員登録をすると、あなたも自分の文房具を紹介することができます。</p>
    <p>昔買った文房具を再度購入する際に、自分の書いた感想や値段を確認。購入のヒントに !</p>
  </div>

</div>

<div class="bungu-expand">

  <div class="about-comment-box">
    <div class="comment-topic">文房具で繋がる</div>
    <p>投稿にコメントすることができます。<br>投稿への感想など、他のユーザーに伝えてみましょう</p>
  </div>
  <div class="about-photo">

  </div>

</div>

<div class="bungu-expand">

  <div class="about-photo">

  </div>

  <div class="about-comment-box">
    <div class="comment-topic">新しい発見</div>
    <p>みんなの投稿から、色々な文房具を発見してみてください</p>
    <p>気に入った文房具にいいねして、自分のお気に入りをストック。<br>購入の際のヒントになります。</p>
  </div>

</div>


