<div class="top-title">
  <h4>「文房具と一緒」で、<br>新たな文房具と出逢おう</h4>
</div>
<div class="about-content">
  <div class="bungu-expand">
    <div class="about-photo">
      <%= image_tag 'post-bungu.png' %>
    </div>
    <div class="about-comment-box">
      <div class="comment-topic">文房具を広げる</div>
      <p>会員登録をすると、あなたも自分の文房具を紹介することができます。</p>
      <p>昔買った文房具を再度購入する際に、自分の書いた感想や値段を確認。購入のヒントに !</p>
    </div>
  </div>
  <div class="conn-box">
    <div class="bungu-connect">
      <%= image_tag 'people-connect.jpg' %>
    </div>
    <div>
      <div class="comment-topic">文房具で繋がる</div>
      <p>投稿にコメントすることができます。<br>投稿への感想など、他のユーザーに伝えてみましょう !</p>
    </div>
  </div>
  <div class="bungu-expand wide-photo">
    <div class="about-comment-box">
      <div class="comment-topic">新しい発見</div>
      <p>みんなの投稿から、色々な文房具を発見してみてください</p>
      <p>気に入った文房具にいいねして、自分のお気に入りをストック。<br>購入の際のヒントになります。</p>
    </div>
    <div class="about-photo wide-photo">
      <%= image_tag 'like_photo.png' %>
    </div>
  </div>
</div>

