<p>文房具投稿一覧画面</p>
<% @post_bungus.each do |post_bungu| %>
  <div>
    <%= post_bungu.catchphrase %>
    <%= post_bungu.rate %>
    <%= post_bungu.bungu_name %>
    <%= post_bungu.user.nickname %>
  </div>
<% end %>