.header {
  z-index: 100;
  width: 100%;
  background-color: #fff;
  position: fixed;
  box-sizing: border-box;
}

.logo img {
  height: 4rem;
  @media screen and (min-width: 768px) {
  height: 6rem;
  }
}

.main-head {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding-left: 2rem;
  @media screen and (min-width: 768px) {
    justify-content: center;
  }
}

.sub-head ul {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid;
  border-bottom: 1px solid;
  margin-bottom: 0;
  @media screen and (min-width: 768px) {
    justify-content: space-evenly;
    margin: 0 auto;
    width: 80%;
  }
  li {
    width: 25%;
    text-align: center;
    // border: 1px solid pink;
    height: 60px;
    // display: flex;
    // justify-content: center;
    @media screen and (min-width: 768px) {
      width: auto;
    }
    a {
      font-size: 0.8rem;
    }
    i {
      display: block;
      font-size: 1.5rem;
    }
  }
}

.nav-button {
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 3rem;
  cursor: pointer;
  background-color: #fff;
  @media screen and (min-width: 768px) {
    display: none;
  }
  .fas {
    font-size: 1.6rem;
  }
}

.sp-nav {
  position: absolute;
  // top: 4rem;
  left: 0;
  width: 70%;
  z-index: 1000;
  box-sizing: border-box;
  display: none;
  height: 100vh;
  padding: 1.4rem;
  background-color: lemonchiffon;
}

.nav-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 5rem);
}

.sp-nav-list {
  padding-left: 0;
  list-style: none;
  font-size: 4rem;
  margin: 0;
  // text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  // padding-top: 3rem;
  overflow-y: scroll;
  li {
    padding: 0.7rem 0;
  }
  li:last-child {
    padding-bottom: 170px;
  }
}

// ハンバーガーメニュー背景色(jquery)
.active {
  width: 100%;
  height: 100%;
}
