// Place all the styles related to the PostComments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment-box {
  border-top: 3px solid lightgray;
  width: 90%;
  margin: 1rem auto;
  background-color: #f1f1f1;
  padding: 0 1rem;
  @media screen and (min-width: 768px) {
    width: 25%;
    border-top: 0;
    margin: 0;
    padding-top: 3rem;
    padding-left: 1rem;
    border-left: 1px solid lightgray;
  }
}

.comment-create {
  text-align: center;
  margin: 1rem auto;
  p {
    margin: 0;
    padding: 0;
  }
}

#comments_area {
  margin: 0 auto;
  width: 95%;
}

.comment-show {
  width: 100%;
  margin-left: 1rem;
  text-align: left;
  p {
    white-space: pre-wrap;
    word-break: break-all;
    font-size: 13px;
  }
}

.user-image-shape {
  border-radius: 50%;
}

.comment-nickname {
  margin-bottom: 0.1rem;
  font-size: 0.9rem;
  font-weight: 600;
  color: green;
}

.post-comment {
  font-size: 0.9rem;

}

.comment-content {
  display: flex;
  margin-bottom: 1rem;
}

.comment-text-area {
  padding: 0.3rem;
}

.comment-action input {
  padding: 0.1rem 1rem;
  background-color: #e3e3e3;
  border: none;
  border-radius: 5px;
}