// Place all the styles related to the PostBungus controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.post-bungu-container {
  @media screen and (min-width: 768px) {
    width: 80%;
  }
}

.post-index-box {
  margin: 3rem 0;
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

// 項目 //////////////////////////////

.subject-box {
  margin-bottom: 1.2rem;
  @media screen and (min-width: 768px) {
    margin-bottom: 2rem;
    margin-left: 1rem;
  }
}

.subject-name {
  position: relative;
  padding: 0.25em 1em;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
  display: inline-block;
  left: 1rem;
  @media screen and (min-width: 768px) {
    font-size: 1.7rem;
    left: 0rem;
  }
}

.subject-name:before, .subject-name:after {
  content: '';
  position: absolute;
  top: -7px;
  width: 4px;
  height: -webkit-calc(100% + 14px);
  height: calc(100% + 14px);
  background-color: green;
}

.subject-name:before {
  left: 7px;
}
.subject-name:after {
  right: 7px;
}

// 投稿内容 //////////////////////////////

.index-post-bungus {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-evenly;
  @media screen and (min-width: 768px) {
    max-width: 80rem;
    justify-content: flex-start;
  }
}

.bungu {
  width: 47%;
  margin-bottom: 2rem;
  box-shadow: 0 0 1.3rem rgba(0,0,0,0.1);
  border-radius: 5%;
  border-top: 4px solid green;
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 768px) {
    margin-bottom: 3rem;
    width: 30%;
    margin-right: 0.5rem;
  }
}

.bungu-photo {
  height: 150px;
  @media screen and (min-width: 768px) {
    height: 200px;
  }
  img {
  height: 100%;
  object-fit: cover;
  width: 100%;
  border-radius: 5% 5% 0 0;
  }
}

.bungu-info {
  padding: 0.7rem;
  background-color: #fff;
  border-radius: 0 0 5% 5%;
  .post-detail {
    display: flex;
    justify-content: space-between;
  }
}

.post-time, .post-name {
  font-size: 0.7rem;
}

.bungu-detail {
  margin: 0.5rem 0;
}

.catch {
  font-size: 0.9rem;
}

.bungu-name {
  text-align: center;
  font-size: 1.1rem;
  @media screen and (min-width: 768px) {
    font-size: 1.4rem;
  }
}

// いいねのハート //////////////////////////////

.fas.fa-heart, .far.fa-heart {
  color: red;
  font-size: 1.3rem;
}

.like-count {
  margin: 0;
}

.like-show-box {
  margin-top: auto;
  margin-left: 1rem;
}

.link-box {
  text-align: center;
}

.post-link {
  padding: 0.2em 0.5em;
  margin: 2em 0;
  color: #565656;
  background: green;
  box-shadow: 0px 0px 0px 10px green;
  border: dashed 2px #fff;
  border-radius: 8px;
  display: inline-block;
}

// 投稿をもっと見るリンク //////////////////////////////

.post-link p {
  color: white;
  margin-bottom: 0;
}

// ソート機能 //////////////////////////////

.sort-box {
  margin-bottom: 1rem;
  margin-left: 1rem;
  @media screen and (min-width: 768px) {
    width: 86%;
  }
}

.sort-action {
  background-color: pink;
  background-color: lightgray;
  border: none;
}

// キーワード検索 //////////////////////////////

.keyword-search-box {
  text-align: center;
  margin-top: 2rem;
  padding-top: 2rem;
  border-top: 1px solid lightgray;
}

#scope {
  background-color: #ee7b1a;
  border: none;
  height: 2rem;
  color: #fff;
  border-radius: 5px;
}

#word {
  background-color: lightgray;
  border: none;
  height: 2rem;
  border-radius: 5px;
}

.keyword-submit-btn {
  border: none;
  padding: 0.2rem;
  background-color: #ee7b1a;
  width: 12%;
  margin-left: 1rem;
  height: 2rem;
  color: #fff;
  border-radius: 5px;
}

// ジャンル機能 //////////////////////////////

.genre-table {
  @media screen and (max-width: 768px) {
    display: none;
  }
}

// ランキング //////////////////////////////

.ranking-container {
  margin-top: 1rem;
  margin-bottom: 4rem;
}

.rank-number {
  text-align: center;
  p, i {
    font-size: 1.6rem;
    color: #ee7b1a;
    margin-bottom: 0.2rem;
  }
}

.rank-bungu {
  width: 90%;
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    width: 100%;
  }
}

.bungu-detail-rank  {
  display: flex;
  justify-content: space-between;
  @media screen and (min-width: 768px) {
    padding: 0.5rem 0;
  }
  img {
    border-radius: 20%;
  }
}

.bungu-name-rank {
  @media screen and (min-width: 768px) {
    text-align: center;
  }
}

.rank-border {
  padding: 0.6rem;
  border: 1px solid;
  border-radius: 5px;
}

.rank-flex {
  @media screen and (min-width: 768px) {
  width: 33%;
  }
}

// 文房具新規投稿ページ(new.html.erb) ///////////////////////////////

.stationery-img-box {
  text-align: center;
}

.post-index-container {
  background-color: rgba(255, 255, 255, 0.94);
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-around;
  }
}

.newpost-index {
  position: relative;
}

.newpost {
  padding-top: 1rem;
  margin: 0 auto;
  width: 90%;
  @media screen and (min-width: 768px) {
    width: 95%;
    display: flex;
    justify-content: space-around;
  }
}

.newpost-form-box {
  padding: 1rem 0;
}

.newpost-heading {
  font-size: 1.2rem;
  border-bottom: 2px solid #ee7b1a;
}

.thought-area {
  height: 350px;
  padding: 0.4rem;
}

.submit-box {
  text-align: center;
}

.newpost-check {
  text-align: center;
}


.newpost-submit-btn {
  border: none;
  padding: 0.2rem;
  background-color: #ee7b1a;
  width: 30%;
  height: 3rem;
  color: #fff;
}

.required {
  margin-left: 1rem;
  padding: 0.2rem;
  background-color: tomato;
  border-radius: 5px;
  color: #ffffe0;
  font-size: 0.9rem;
}

// 文房具詳細ページ(show.html.erb) ///////////////////////////////

.show-post-box {
  padding-top: 2.5rem;
  width: 90%;
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    margin: 0;
    width: 60%;
  }
}

.show-bungu-heading {
  margin-bottom: 0.8rem;
}

.post-day {
  text-align: right;
  margin-bottom: 3rem;
}

.catchphrase-heading {
  text-align: center;
}

.show-image {
  margin-bottom: 2rem;
  img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  }
}

.bungu-rate {
  text-align: center;
}

.thought {
  background-color: #f7f6f5;
  width: 90%;
  margin: 2rem auto;
  p {
     white-space: pre-wrap;
  }
}

#bungu-table {
  width: 80%;
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    width: 60%;
    margin: 5rem auto;
  }
}

.editdestroy-btn-box {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 70%;
  margin-bottom: 2rem;
  @media screen and (min-width: 768px) {
    width: 60%;
  }
}

.edit-btn {
  padding: 0.4rem;
  background-color: green;
  color: #fff;
  border-radius: 5px;
}

.destroy-btn {
  padding: 0.4rem;
  background-color: tomato;
  color: #fff;
  border-radius: 5px;
}

.reverse-btn {
  padding: 0.4rem;
  background-color: lightgray;
  color: #fff;
  border-radius: 5px;
}

// serch/finder/genreページの上部padding //////////////////////////////

.bunbougu-box {
  margin-top: 2rem;
  margin-bottom: 3rem;
  @media screen and (min-width: 768px) {
    display: flex;
  }
}