// Place all the styles related to the PostBungus controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.post-bungu-container {
  padding-top: 1.5rem;
}

.ranking-container {
  @media screen and (min-width: 768px) {
    margin-top: 1.5rem;
  }
}

.post-index-box {
  @media screen and (min-width: 768px) {
    display: flex;
    margin-top: 1rem;
  }
}


// 項目

.subject-box {
  margin-bottom: 1.2rem;
  @media screen and (min-width: 768px) {
    margin-bottom: 2rem;
    text-align: center;
  }
}

.subject-name {
  position: relative;
  padding: 0.25em 1em;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
  display: inline-block;
  left: 2rem;
  @media screen and (min-width: 768px) {
    font-size: 1.7rem;
    left: 0rem;
  }
}

.subject-name:before, .subject-name:after {
  content: '';
  position: absolute;
  top: -7px;
  width: 4px;
  height: -webkit-calc(100% + 14px);
  height: calc(100% + 14px);
  background-color: green;
}

.subject-name:before {
  left: 7px;
}
.subject-name:after {
  right: 7px;
}

// 投稿内容

.index-post-bungus {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 90%;
    max-width: 80rem;
  }
}

.bungu {
  width: 85%;
  margin: 0 auto;
  margin-bottom: 2rem;
  box-shadow: 0 0 1.3rem rgba(0,0,0,0.1);
  @media screen and (min-width: 768px) {
    margin: 0.5rem;
    width: 46%;
  }
}

.bungu-photo {
  height: 150px;
  img {
  height: 100%;
  object-fit: cover;
  width: 100%;
  }
}

.bungu-info {
  padding: 0.7rem;
  background-color: #fff;
  .post-detail {
    display: flex;
    justify-content: space-between;
  }
}

.post-time, .post-name {
  font-size: 0.7rem;
}

.bungu-detail {
  margin: 0.5rem 0;
}

.bungu-name {
  text-align: center;
  font-size: 1.5rem;
}

// いいねのハート
.fas.fa-heart, .far.fa-heart {
  color: red;
  font-size: 1.3rem;
}

.link-box {
  text-align: center;
}

.post-link {
  padding: 0.2em 0.5em;
  margin: 2em 0;
  color: #565656;
  background: green;
  box-shadow: 0px 0px 0px 10px green;
  border: dashed 2px #fff;
  border-radius: 8px;
  display: inline-block;
  // p {
  //   margin: 0;
  //   padding: 0;
  // }
}

// 投稿をもっと見るリンク
.post-link p {
  color: white;
}

// ソート機能
select#key, #post_bungu_key {
  border-radius: 100px;
  background-color: pink;
}

.sort-box {
  border-radius: 100px;
  background-color: pink;
}

// キーワード検索
.keyword-search-box {
  text-align: center;
  margin-top: 2rem;
}

#scope {
  // width: 10%;
  background-color: orange;
  border: none;
  height: 3rem;
}

#word {
  width: 30%;
  background-color: lightgray;
  border: none;
  height: 3rem;
}

.keyword-submit-btn {
  border: none;
  padding: 0.2rem;
  background-color: orange;
  width: 8%;
  margin-left: 1rem;
  height: 3rem;
}
// ジャンル機能
.genre-table {
  display: none;
}

// ランキング
.rank-number {
  text-align: center;
  p, i {
    font-size: 1.6rem;
    color: green;
  }
}

.rank-bungu {
  @media screen and (min-width: 768px) {
    width: 100%;
  }
}

.bungu-detail-rank  {
  @media screen and (min-width: 768px) {
    padding: 0.5rem 0;
  }
}

.bungu-name-rank {
  @media screen and (min-width: 768px) {
    text-align: center;
  }
}

// new.html

.new-post-box {
  background-image: url('bungu.jpg');
  background-size:  cover;
}

.post-bg {
  background-color: rgba(255, 250, 205, 0.9);
}

.newpost-index {
  position: relative;
}

// .admin-comment {
//   position: absolute;
//   top: 6rem;
//   left: 10rem;
//   font-size: 1.2rem;
//   text-align: center;
//   font-weight: bold;
// }

.newpost {
  padding-top: 3rem;
  margin: 0 auto;
  width: 90%;
}

.newpost-form-box {
  padding: 1rem 0;
}

.newpost-heading {
  font-size: 1.2rem;
}

.thought-area {
  height: 350px;
}

.submit-box {
  text-align: center;
}

.newpost-submit-btn {
  border: none;
  padding: 0.2rem;
  background-color: orange;
  width: 30%;
  height: 3rem;
}

.manufacturer-radiobtn {
  
}