/* 高さを指定することにより画像が表示される */
#slide-box{
  height: 10rem;
}

.slide-img1 {
  background-image: image-url("slide-img1.jpg");
}
.slide-img2 {
  background-image: image-url("slide-img2.jpg");
}
.slide-img3 {
  background-image: image-url("slide-img3.jpg");
}
.slide-img4 {
  background-image: image-url("slide-img4.jpg");
}