// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// indexページ ////////////////////////////
.user-all-box {
  @media screen and (min-width: 768px) {
    // display: flex;
    width: 95%;
    margin: 0 auto;
  }
}

.user-container li {
  border-bottom: 0.2rem dashed green;
  width: 95%;
  margin: 0 auto;
}

.user-item {
  width: 90%;
  margin-bottom: 2rem;
  display: flex;
  margin: 0.1rem auto;
}

.user-profile_image  {
  align-items: center;
  display: flex;
  img {
  // max-width: 100%;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  // object-fit: cover;
  }
}

.user-index {
  padding-left: 1rem;
  width: 100%;
}

.user-intro {
  margin-bottom: 0.1rem;
  font-size: 0.7rem;
}

.me-box {
  margin: 2rem;
  display: flex;
  position: fixed;
  width: 100%;
  @media screen and (min-width: 768px) {
    width: 20%;
    display: block;
    text-align: center;
    // position: fixed;
  }
  img {
    border-radius: 50%;
    @media screen and (min-width: 768px) {
      width: 200px;
      height: 200px;
    }
  }
}

.nickname-box {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  @media screen and (min-width: 768px) {
    justify-content: center;
    margin-left: 0;
  }
}

.nickname-box p {
  margin-bottom: 0;
  @media screen and (min-width: 768px) {
   font-size: 1.2rem;
  }
}

.user-content-list {
    padding-top: 9rem;
  @media screen and (min-width: 768px) {
    width: 65%;
    margin-left: auto;
    padding-top: 0;
  }
}

// .me-box p {
//   display: inline-block;
// }

// showページ ////////////////////////////
.profile-container {
  margin-top: 2rem;
  @media screen and (min-width: 768px) {
    // display: flex;
    // justify-content: space-evenly;
  }
}

.my-profile {
  @media screen and (min-width: 768px) {
    width: 30%;
    position: fixed;
  }
}

.my-post-all {
  @media screen and (min-width: 768px) {
    width: 60%;
    margin-left: auto;
  }
}

.profile-top {
  display: flex;
  width: 95%;
  justify-content: space-evenly;
  margin: 0 auto;
}

.profile-content {
  padding-top: 0.5rem;
  width: 33%;
}

.profile-nickname {
  // padding-bottom: 0.4rem;
  text-align: center;
  margin: 0;
  // margin-bottom: 0.4rem;
}

.follow-check {
  display: flex;
  justify-content: space-between;
  margin-top: 0.4rem;
}

.follow-mark {
  font-size: 0.7rem;
}

// .no-margin {
//     margin: 0;
//   }

.follow-number {
  padding-left: 1.2rem;
}

.follow-btnbox {
  text-align: center;
}

.follow-btn {
  border: 1px solid;
  display: inline-block;
  text-align: center;
  margin-top: 1rem;
  background-color: green;
  padding: 0.4rem;
  p {
    margin-bottom: 0;
  }
}

.tomato-btn {
  background-color: tomato;
}

.profile-edit {
  border: 1px solid;
    display: inline-block;
    width: 10rem;
    text-align: center;
    padding: 0.3rem;
}

.intro-box {
  margin: 2rem auto;
  width: 90%;
  position: relative;
  padding: 0.5em 1em;
  border: solid 3px green;
  border-radius: 8px;
  .self-intro {
    position: absolute;
    display: inline-block;
    top: -13px;
    /* left: 10px; */
    padding: 0 9px;
    line-height: 1;
    font-size: 0.9rem;
    background: #FFF;
    color: green;
    font-weight: bold;
  }
}

.intro-box p {

}

.my-profile {
  // display: flex;
}

.profile-top img {
    width: 100px;
    height: 100px;
    border-radius: 40%;
}

.profile-btn {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
}

.switch-btn {
  display: flex;
  justify-content: space-evenly;
  p {
    padding: 0.3rem;
    background-color: #ee7b1a;
    margin: 0;
  }
}

.switch-color {
  color: #fff;
}

// editページ ////////////////////////////

.user-card-box {
  width : 90%;
  margin: 2rem auto;
  border: 1px solid;
  border-radius: 5%;
  @media screen and (min-width: 768px) {
    margin: 0;
    margin-left: auto;
    width : 50%;
  }
}

.user-card-head {
  text-align: center;
  border-bottom: 1px solid;
  p {
    margin-bottom: 0;
    font-size: 1.1rem;
    padding: 0.7rem;
  }
}

.card-padding {
  padding: 1rem;
  background-color: #f7f7f8;
  border-radius: 0 0 5% 5%;
  p {
    font-weight: 600;
  }
}

.user-edit-box {
  margin-bottom: 1.5rem;
}

.edit-intro-area {
  width: 100%;
  height: 8rem;
}

.user-edit-finish {
  padding: 0.5rem;
  border: none;
  color: #fff;
  background-color: #ee7b1a;
}