// Place all the styles related to the users/OmniauthCallbacks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.google-login-box {
  margin-top: 3rem;
  a {
    padding: 1rem;
    background-color: lightyellow;
    border-radius: 5px;
  }
}